env/*
results/*

.DS_Store
/src/text_analysis/propaganda_detection/pt_model_multi_fine/
/src/text_analysis/propaganda_detection/persuation_classifiers_spadaal_container/propaganda_detect.out
/data/
results/
images/

src/SNAM/propaganda_detection/persuation_classifiers_spadaal_container
src/SNAM/propaganda_detection/pt_model_multi_fine